.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px;
    background-color: rgb(240, 169, 189);
} 
.register-form{
    border: 1px solid gray;
    padding: 30px;
    width: 25%;
    border-radius: 9px;
    background-color: white;
}  

.title{
    text-align: center;
}

.forgetPassword-form{
    border: 1px solid gray;
    padding: 30px;
    height: 44vh;
    width: 40%;
    border-radius: 9px;
    background-color: white;
}
